* {
  margin: 0;
  padding: 0;
}


.unauthenticated-layout {
  
  min-height: 100vh;
  width: 100%;

  .content {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}


/* Login Page */


.login-page {
  .logo-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    
    .logo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
  
  .auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 400px;
  }
}

.init-page {
  .init-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 400px;
  }
}

/* authenticated layout */

.authenticated-layout {
  display: flex;
  min-height: 100vh;
  
  .ant-layout-sider {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  .center-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.sider {
  display: flex;
  flex-direction: column;
  height: 100vh;
  

}

.bottom-items {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background-color: #fff;
}

.content {
  padding: 1rem;
  padding-bottom: 2rem;
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}

.toggle-button-container {
  position: absolute;
  top: 6rem;
  right: -99.5%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 1000;


}

/* Fix for dropdown menu positioning */
.sidebar-profile-dropdown {
  position: fixed !important;
}

.ant-dropdown {
  position: fixed;
}

/* Footer */

.pg-footer {
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  position: fixed; /* Change from fixed to relative */
  width: 100%;
  z-index: 1000; 
  bottom: 0;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-copyright-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer a, .footer .ant-typography {
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.custom-list li {
  margin: 10px 0;
}

.custom-list .divider {
  border-top: 1px solid #ddd; /* Divider line style */
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
  color: #666; /* Customize text color */
}



/* Add padding to the bottom of the content to prevent overlap with the footer */
.main-content {
  padding-bottom: 60px; /* Adjust based on footer height */
}

@media screen and (max-width: 768px) {
  .pg-footer {
    padding: 15px 0;
  }

  .footer {
    padding: 0 15px;
  }

  .custom-list {
    flex-direction: column;
  }

  .custom-list li {
    margin: 5px 0;
  }
}
